gask/commands/__pycache__/add.cpython-38.pyc

# Ignore pycache 
*__pycache__
*.pyc 

# Datafile for project 
./repos.json
repos.json
*repos.json
*.db

#Pycharm Files
*idea

#Obsidian
*.obsidian

#pypi
*dist
*Gask.egg-info